body
{
    background-color: #101010;
    font-family: "Sertig" !important;
    font-size: 1.7em;
}

@font-face {
    font-family: Sertig;
    src: url(../fonts/Sertig.otf);
}

.skewed-bg {
    background: #008BC2;
    padding: 82px 0;
    -webkit-transform: skew(0deg, -10deg);
    -moz-transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg);
    -o-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    margin-top: -110px;
}
.skewed-bg .content {
    -webkit-transform: skew(0deg, 10deg);
    -moz-transform: skew(0deg, 10deg);
    -ms-transform: skew(0deg, 10deg);
    -o-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
    text-align: center;
}
.skewed-bg .content .title {
    padding-top: 100px;
    font-weight: normal;
}
.skewed-bg .content .text {
    width: 60%;
    margin: 100px auto;
    color: #ccfff2;
}
.bg2
{
    background-color: #febe29;
    margin-top: -75px;
    padding: 110px 0;
}
.bg3
{
    background-color: #f15a25;
    margin-top: -10px;
    padding: 110px 0;
}

.bg4
{
    background-color: #56c23b;
    margin-top: -15px;
    padding: 110px 0;
}


.the-table {
    table-layout: fixed;
    word-wrap: break-word;
}
#imgset
{
    position: relative;


}

.txt {
    margin-top: 13% !important;
    font-size: 6em;

}

.txt2
{
    font-size: 6em;
}

.txt3
{
    font-size: 6em;
}

.txt4
{
    font-size: 6em;
    padding-bottom: 34px;
}

.txt-size {
    font-size: 1.5em;

}
.color
{
    color: RGBA(16, 56, 81, 0.65)
}

.txts
{
    font-size: 1.3em;
    position: relative;
    bottom: 8px;
}



.inline-block
{
    display: inline-block;
    padding-top: 20px;

}

.center
{
    text-align: center;
}

.ftrtxt
{
    font-size: 3.4em;
    color: white;
    position: relative;
    top: 92%;
    float: right;
}
